.main-content-container {
  width: 100vw;
  height:100vh;
  
}

.main-content-container-content {
  width: 100vw;
  height: 100vh;
  border: 1px solid #000;
  position:relative;
  background-image: url(https://i.imgur.com/W7agM8L.jpg);
  background-size: cover;
}

.main-content-container-fixed {
  position: sticky;
  width:100px;
  height:20px;
  background: red;
  top: 100px;
  left: 50px;
}

.main-content-container-unfixed {
  margin-top: 15em;
  text-align: center;
}
